# npm cache
.npm_cache/

# Python
backend/venv/
__pycache__/
*.pyc

# Node
xiezheng/node_modules/
xiezheng/dist/

# uploads
backend/uploads/

# Env
.env
backend/.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db